.app{
  background-color: gainsboro;
}
.post{
  color: dimgrey;
  padding: 10px;
  width: 400px;
  display: inline-block;
  margin: 10px;
}

.bg-green{
  background-color: rgb(184, 226, 184);
}

.bg-white{
  background-color: ghostwhite;
}